.sidebar{
    height: calc(100vh - 150px);
    width: 200px;
    background: rgba(184, 184, 185, 0.46);
    position: fixed;
    transition: width 0.3s;
    flex-shrink:0;
    line-height: 25px;
    overflow: hidden;
}


.collapseBtn{
    position: absolute;
    right: -40px;
    bottom: 40px;
}


.collapsed{
    width: 80px;
}

.items {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.item {
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}


.item:hover {
    transform: scale(0.9);
}

.collapsedItem .link{
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
    margin-left: 0;
}

@media (min-width: 769px) {
    .sidebar{
        top: 150px;
    }
}

@media (max-width: 768px) {
    .sidebar{
        height: 100px;
        width: 100%;
        background: rgba(184, 184, 185, 0.46);
        position: fixed;
        bottom: 0;
        left: 0;
        transition: width 0.3s;
        flex-shrink:0;
        line-height: 25px;

    }

    .items {
        flex-direction: row;
        justify-content: space-around;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }

    .collapseBtn{
        display: none;
    }
}
