.container {
    margin-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.filter_component {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.cards_container{
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    margin: 30px auto;
}
.container_info {
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .cards_container {
        flex-direction: column;

    }
    .filter_component {
        display: none;
    }

    .cards_container{
        width: 100%;
        align-items: center;
        margin: 0 auto;
    }
}
