@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.divRoot{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}


