.container {
    height: 100%;
    width: 100%;
    margin-top: 150px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.info_card{
    width: 50%;
}

.user_actions{
    display: flex;
    width: 40%;
}

@media (max-width: 768px) {
    .wrapper{
       flex-direction: column;
        display: flex;
        align-items: center;
    }

    .user_actions{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .info_card{
        width: 100%;
    }
}
